.list-group {
    width: 400px !important;
    color: #dadada;
}

.list-group-item {
    margin-top: 1rem;
    border-radius: none;
    background: #795ee339;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.value {
    margin-left: 1.2rem;
    font-size: 1.7rem;
}

.img {
    margin-left: 0.5rem;
    align-items: flex-start;
}

.list-group-item:hover {
    transform: scaleX(1.1);
}


.list-group-item:hover .check {
    opacity: 1;
}

.tmp {
    margin-top: 3rem;
    display: block;
    text-align: center;
    font-size: xx-large;
}