<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/layout.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

    <title>{% block title %}My Page{%endblock%}</title>
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>