{% extends "base.html" %}

{% block title %}
Graph2
{% endblock title %}

{% block content %}
<div class="chart-container" style="position: relative; height:50vh; width:100%">
    <canvas id = "barChart"></canvas>
</div>
<script>
    var ctx = document.getElementById("barChart").getContext("2d");
    var barChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: {{ labels | safe }},
            datasets: [
                {
                    label: "Commits",
                    data: {{ values | safe }},
                    fill: true,
                    borderColor: "rgb(75, 1992, 192)",
                    borderWidth: 1
                }
            ]
        },

        options: {

            scales: {
                y: {
                    beginAtZero: true
                }
            },

            maintainAspectRatio: false

        }
    });
</script>
{% endblock content %}