{% extends "base.html" %}


{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/repository_list.css') }}">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/graph.css') }}">
{% endblock style %}

{% block title %}
Repositry_list
{% endblock title %}

{% block sidebar %}

<nav id="sidebarMenu" class="sidebar">
    <div class="list-group mx-3 mt-4">
        <form action="{{ url_for('dashboard.graph') }}">
            <div class="list-group-hover">
                {% for value in data %}
                    <button class="list-group-item list-group-item-action py-2" type="submit" name="value" value="{{username}} {{value}}">
                            <span>{{value}}</span>
                    </button>
                {%endfor%}
        </form>
        
    </div>
</nav>

{% endblock sidebar %}

{% block content %}



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="bar_card">
    <canvas id = "barChart"></canvas>
</div>

<div class="pie_card">
    <canvas id = "pieChart"></canvas>
</div>

<script>
    Chart.defaults.color = '#d1d1d1';
    var ctx = document.getElementById("barChart").getContext("2d");
    var barChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: {{ labels2 | safe }},
            datasets: [
                {
                    label: "Commits",
                    data: {{ values2 | safe }},
                    fill: true,
                    backgroundColor: "#1d8bf842",
                    borderColor: "#1d8cf8",
                    borderWidth: 3
                }
            ]
        },

        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Lets take a look at the amount of commits you have made in your repositories.',
                    font: {
                        size: 20
                    }
                }
            },

            indexAxis: 'y',
            scales: {
                y: {
                    ticks: {
                        color: "#d1d1d1", 
                        beginAtZero: true, 
                        font: {
                            size: 16
                        }
                    },
                    grid: {
                        color: "#1d8bf829"
                    }
                },

                x: {
                    ticks: {color: "#d1d1d1"},
                    grid: {
                        color: "#1d8bf829"
                    }
                }
            },

            maintainAspectRatio: false
        }
    });



    let colorPalette = {{colorList | safe}};
    var ctx = document.getElementById("pieChart").getContext("2d");
    var pieChart = new Chart(ctx, {
        type: "pie",
        data: {
            labels: {{ labels3 | safe }},
            datasets: [
                {
                    label: "Occurences",
                    data: {{ values3 | safe }},
                    fill: true,
                    backgroundColor: colorPalette,
                    borderColor: "#fff",
                    borderWidth: 3
                }
            ]
        },

        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'The number od your repositories with a Langauage',
                    font: {
                        size: 20
                    },
                    padding: {
                        bottom: 30
                    }
                },

                legend: {
                    position: "left",
                    labels: {
                        font: {
                            size: 16
                        },
                        padding: 15
                    }
                }
            },

            maintainAspectRatio: false
        }
    });
</script>

{% endblock content %}